body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background: #1C1C1C;
}
.main{
    background: #1F2937;
    color: white;
    height: 400px;
    width: 500px;
    margin:70px auto; 
    padding: 50px 0 0 40px;
    display: block;
}

#btn{
    background: #10B981; 
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 20px;  
    margin-bottom: 35px; 
}
#h1white{
    margin-bottom: 0px;
}
#h1green{
    margin-top: 0px;
    color: #4ADF86;
    margin-bottom: 10px;
}
#h3never{
    margin-bottom: 35px;
}
#line{
    width: 385px;
    padding-left: 50px;;
    height: 0px;
    border: 1px solid #2F3E53;
}
#passwords{
    display: flex;
    margin: 30px auto;   
}
#pass1{
 margin-right: 20px;
    background: #273549;
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    width: 190px;
    height: 20px;
    text-align: center;
    color: #55F991;
}
#pass2{
   margin-right: 20px;
    background: #273549;
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    width: 190px;
    height: 20px;
    text-align: center;
    color: #55F991;
}
